
<form class="example-form" [formGroup]="shiftForm" >

  <mat-form-field appearance="outline">
    <mat-label>Choose a date</mat-label>
    <input matInput formControlName="date" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div formGroupName="time">
    <mat-form-field appearance="outline">
      <mat-label>Start time</mat-label>
      <mat-select formControlName="start">
        <mat-option *ngFor="let hour of hours" [value]="hour">{{this.hour.desc}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>End time</mat-label>
      <mat-select formControlName="end" >
        <mat-option *ngFor="let hour of hours" [value]="hour">{{this.hour.desc}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error style="color: red;"
               *ngIf="this.time.errors?.time">
      'End-time' cannot happen before 'Start-time'
    </mat-error>
  </div>

  <button mat-mini-fab color="primary" aria-label="add employee"
          (click)="addShift()"  class="add-shift-btn">
    <mat-icon>done</mat-icon>
    </button>
</form>
