
<section>
  <div class="schedule-view-container">
    <div>
      <ng-template [ngIf]="this.emp !== null">
        <p>Employee's Name: {{this.emp.last}}, {{this.emp.first}} </p>
        <p>Employee's email: {{this.emp.email}} </p>
        <button mat-mini-fab color="primary" aria-label="display add shift form"
                (click)="this.displayScheduleView()">
          <mat-icon>add</mat-icon>
        </button>
      </ng-template>
    </div>

    <div class="schedule-view">
      <ng-template [ngIf]="isDisplayingScheduleView">
        <button mat-mini-fab color="primary" aria-label="remove schedule view"
                (click)="removeScheduleView()">
          <mat-icon>remove</mat-icon>
        </button>
        <p>
        CLICK TO ADD A SHIFT
        <button mat-mini-fab color="primary" aria-label="display add shift form"
                (click)="displayAddShift()">
          <mat-icon>add</mat-icon>
        </button>
      </p>

      </ng-template>
      <div #appendHere></div>
    </div>
  </div>


  <!--1-->

  <!--ADD EITHER SHIFT OR REGISTER HERE -->
  <div #appendShiftOrRegister></div>

</section>
