
<section>

  <button mat-mini-fab color="primary" aria-label="display add shift form"
          (click)="displayAddShift()">
    <mat-icon>add</mat-icon>
  </button>

  <!--1-->
  <div >
    <ng-template [ngIf]="isDisplayingScheduleView">
      <button mat-mini-fab color="primary" aria-label="remove schedule view"
              (click)="removeScheduleView()">
        <mat-icon>remove</mat-icon>
      </button>
    </ng-template>
    <div #appendHere></div>
  </div>
  <!--ADD EITHER SHIFT OR REGISTER HERE -->
  <div #appendShiftOrRegister></div>

</section>
