<div class="schedule-view">
   <ng-template [ngIf]="(this.employee.id !== 0) ">
     <p>

       <span class="name">{{this.employee.first + " " + this.employee.last}}</span> schedule

       <ng-template [ngIf]="hasRoute('scheduler')">
         <button mat-mini-fab color="primary" aria-label="display add shift form"
                 [routerLink]="[{ outlets: { editor: ['shift'] } }]"

                 class="add-shift">
           <mat-icon >add</mat-icon>
         </button>
       </ng-template>

     </p>
     <div *ngFor="let shift of this.employee.schedule">

       <mat-card>
         <span class="sch-date">{{shift.date}}</span>
         <br>
         <span class="sch-time">TIME </span><br>
         <span clas="sch-period"> {{shift.startTime.desc}} - {{shift.endTime.desc}}</span>
       </mat-card>
     </div>
   </ng-template>
</div>

