.register-emp {
  form {
    width: 300px;
    display: flex;
    flex-direction: column;
    mat-form-field {
      margin: 10px;
    }
  }

  p {
    margin-top: 25px;
    align-self: center;
    .add-employee-btn {
      display: inline-block;
      background: #13bf60;
      box-shadow: none;
      margin: 10px auto;
    }
    .cancel {
      background: tomato;
      margin-right: 25px;
      box-shadow: none;
    }
  }

}

