.scheduler {
  min-width: 900px;
  // outline: 1px dashed tomato;
  display: flex;
  flex-direction: column;
  margin: 25px;
  .example-full-width {
    margin: 25px 25px 20px 0;
    width: 380px;
    border: #488dc3 1px solid;
    padding: 20px 20px 5px;
    border-radius: 15px;
  }
    span.page-title {
      font-weight: 500;
      color: #383838;

    }
    span.page-desc{
      font-weight: lighter;
      color: #8b8989;
      font-style: italic;
      margin-left: 2px;
      text-transform: lowercase;
    }
  .example-form{
    margin: 25px 25px 15px 0;
  }
  .schedule-view-editor {
    display: flex;
    flex-direction: row;

    .schedule-view-wrapper {
      width: 400px;
      min-height: 450px;
      border: 1px solid #383838;
      border-radius: 15px;
      margin: 5px 15px 15px 0;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      span.page-desc{
        margin: 0 auto;
      }

      .cancel {
        margin-left: 30px;
        margin-top: 20px;
        color: #488dc3;
      }
    }
  }

}
